@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

@font-face {
    font-family: 'EXOTYPE';
    src: url('fonts/EXOBYTE/OTF/EXOBYTE-Regular.otf'); /* IE9 Compat Modes */
    src: url('fonts/EXOBYTE/WOFF/EXOBYTE-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/EXOBYTE/WOFF/EXOBYTE-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/EXOBYTE/TTF/EXOBYTE-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
  

body{
    height: 100vh;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: #0e1011;
}

/*NAVIGATION BAR*/
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    margin: 0 auto;
}


.logo-name{
    text-align: center;
    color: #E7F6F2;
    font-family: Josefin Sans;
    font-size: 30px;
}


button{
    padding: 13px;
    font-family: Josefin Sans;
    font-weight: 500;
    color: #15152a;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}
button:hover{
    background-color: #5f7d99;
    color:#ffffff;
}
.dropdown button{
    font-size: 14px;
}


/*Contents*/
.section-contents{
    color: #E7F6F2;
    font-family: 'Unbounded', cursive;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    padding: 40px 9vw;
}


.big-header { /*mga header sa sections*/
    background-image: linear-gradient(
    225deg,
    #DDE6ED 1%,  
    #fefefe 30%,
    #ffffff 60%,
    #DDE6ED 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s ease infinite;
  display: inline-block;
  
      margin-bottom: 1%;
      font-size: 36px;
      cursor: default;
      font-family: 'Unbounded', cursive;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.section-contents .paragraph-contents{
    cursor: default;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Jost';
    
}


/*CARDS*/
.card-list {
    display: flex;
    padding: 45px 1vw;
    overflow-x: scroll;
    cursor: default;
}

.card-list::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}

.card-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

.card {
    height: 350px;
    width: 450px;
    min-width: 350px;
    padding: 1.5rem;
    border-radius: 4px; 
    background: linear-gradient(-45deg, #ff6d1e, #ff6d1e, #ff0149, #ff025a);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.card-section1{
    display: flex;
    overflow: hidden;
    margin-top: 15px;
    height: 200px; 
    background: linear-gradient(-45deg, #ff6d1e, #ff6d1e, #ff0149, #ff025a);
	animation: gradient 15s ease infinite;
}
.svg-element-binary{
    width: 500%;
    height: 100%;
}
.svg-element-header{
    font-size: 20px;
    font-family: 'EXOTYPE';
    position: absolute;
    padding: 1.5rem;
    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.card:not(:first-child) {
    margin-left: 13px;
}


.card-header {
    margin-bottom: auto;
    
}

.card-header p {
    font-weight: 500;
    font-size: 17px;
    margin: 0 0 1rem;
    color: #ede6eb;
    font-family: 'Unbounded', cursive;
}

.card-header h2 {
    font-size: 23px;
    font-family: 'EXOTYPE';
    font-weight: 500;
    margin: .25rem .25 auto;
    text-decoration: none;
    color: #ede6eb;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-header h2:hover {
    background: linear-gradient(90deg,#ede6eb,#ede6eb);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-author {
    margin: 4rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
    font-family: 'Unbounded', cursive;
}

.avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}
.additional-avatar {
    grid-area: auto;
    align-self: center;
    position: relative;
    box-sizing: border-box;
}

.avatar img {
    width: 60px;
    height: 60px;
    display: block;
    overflow: hidden;
    margin: 16px 0;
}

.additional-avatar img {
    width: 40px;
    height: 40px;
    display: inline;
    overflow: hidden;
    margin: 1px 1px;
}


.author-name {
    margin: .5rem;
    grid-area: auto;
    box-sizing: border-box;
}

.author-name {
    font-style: normal;
    font-weight: 100;
    color: #ede6eb;
}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags a {
    font-style: normal;
    font-weight: 100;
    color: #ede6eb;
    text-transform: uppercase;
    font-size: 10px;
    border: 1px solid #ede6eb;
    border-radius: 3rem;
    padding: .35rem 1rem .30rem;
    position: relative;
    
}
/*
.tags a:hover {
    background: linear-gradient(90deg,#15152a,#8aa8ed);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: #15152a;
}
*/


/*dropdown button*/
.dropdown-content{
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    min-width: 250px;
    padding: 20px;
    min-height: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden;
    border-radius: 4px;
    right: 0;
    top: 12%;
    transition: .3s;right: 0;
    color: #ffffff;
}
.dropdown-content .dropdown-btn{
    display: flex;
    padding: 40px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
}
.btn{
    height: 50px;
    display: block;
    width: 100%;
    border-radius: 1px;
    font-size: 17px;
}
.dropdown-btn:hover{
    color: #5f7d99;
    cursor: pointer;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 5px;
}  
::-webkit-scrollbar-track {
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: #5f7d99;
    border-radius: 4px;
}

/*Footer*/
.spacer{   /*graphic designs*/
    position: relative;
    flex-direction : column;
    min-height: 50px;
    max-height: max-content;
    padding: 10vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer1{
    background-image: url('/SVG/layered-waves-haikei.svg');
}


.footer {
    justify-content: space-between;
    display: flex;
    position: relative;
}
nav .footer-details{
    font-family: Josefin Sans;
    color: #ffffff;
}
.social-links .links{
    position: relative;
    text-align: center;
    display: inline;
    font-size: 33px;
    padding: 5px;
    color: #ffffff;
}
section .paragraph-contents{
    cursor: default;
    font-size: 19px;
}


