body{
    height: 100vh;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: #15152a;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    margin: 0 auto;
}
.logo{
    cursor: default;
    text-align: center;
}
.logo-name{
    color: #E7F6F2;
    font-family: Josefin Sans;
    font-size: 27px;
}
button{
    padding: 13px;
    font-family: Josefin Sans;
    font-weight: 500;
    color: #15152a;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}
button:hover{
    background-color: #5f7d99;
    color:#ffffff;
}
.dropdown button{
    font-size: 14px;
}

/*Contents*/
.section-contents{
    color: #E7F6F2;
    font-family: Josefin Sans;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    padding: 45px 13vw;
}
.big-header
{
  background-image: linear-gradient(
    -225deg,
    #5f7d99 0%,
    #769cbf 30%,
    #748dc7 60%,
    #8aa8ed 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
      font-size: 40px;
      font-family: Josefin Sans;
      cursor: default;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

section-contents .paragraph-contents{
    cursor: default;
    font-size: 19px;
}



/*CARDS*/
.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.card-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}

.card {
    height: 300px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 4px;
    background: #17141d;
    box-shadow: -1px 8px 16px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    transition: .1s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(13px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: 13px;
}


.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-header h2:hover {
    background: linear-gradient(90deg,#748dc7,#8aa8ed);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-author {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.author-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: grayscale(100%);
    display: block;
    overflow: hidden;
    margin: 16px 10px;
}

.author-name {
    grid-area: auto;
    box-sizing: border-box;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #8aa8ed;
    stroke-width: 4;
    stroke-linecap: round;
    pointer-events: none;
}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.tags a:hover {
    background: linear-gradient(90deg,#748dc7,#8aa8ed);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}






/*dropdown button*/
.dropdown-content{
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden;
    border-radius: 4px;
    right: 10%;
    top: 10%;
}
.dropdown-content .dropdown-btn{
    display: flex;
    padding: 10%;
    margin: 17px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #E7F6F2;
}
.btn{
    display: block;
    width: 300px;
    border-radius: 1px;
    font-size: 17px;
}
.dropdown-btn:hover{
    color: #5f7d99;
    cursor: pointer;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 5px;
}  
::-webkit-scrollbar-track {
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: #5f7d99;
    border-radius: 4px;
}

/*Footer*/
.spacer{   /*graphic designs*/
    position: relative;
    flex-direction : column;
    min-height: 50px;
    max-height: max-content;
    padding: 10vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer1{
    background-image: url('/SVG/layered-waves-haikei.svg');
}


.footer {
    justify-content: space-between;
    display: flex;
    position: relative;
}
nav .footer-details{
    font-family: Josefin Sans;
    color: #ffffff;
}
.social-links .links{
    position: relative;
    text-align: center;
    display: inline;
    font-size: 33px;
    padding: 5px;
    color: #ffffff;
}
.social-links .links:hover{
    background-image: linear-gradient(
    -225deg,
    #5f7d99 0%,
    #769cbf 29%,
    #748dc7 67%,
    #8aa8ed 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
      font-size: 40px;
      font-family: Josefin Sans;
      cursor: pointer;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

section .paragraph-contents{
    cursor: default;
    font-size: 19px;
}