@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');

@font-face {
    font-family: 'EXOTYPE';
    src: url('fonts/EXOBYTE/OTF/EXOBYTE-Regular.otf');
    src: url('fonts/EXOBYTE/WOFF/EXOBYTE-Regular.woff') format('woff'),
         url('fonts/EXOBYTE/WOFF/EXOBYTE-Regular.woff2') format('woff2'),
         url('fonts/EXOBYTE/TTF/EXOBYTE-Regular.ttf') format('truetype');
}


html{
    scroll-behavior: smooth;
    /*scroll-snap-type: y mandatory;
    scroll-padding-top: 10rem;*/
}
body{
    height: 100vh;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: #0e1011;
}


/*Contents*/
section{
    margin-block: 10vh;
    padding-block: 10vh;
    display: block;
    scroll-snap-align: start;
    
}

.section-contents{
    display: grid;
    opacity: 0;
    transition: all 1s;
    filter: blur(20px);
    color: #E7F6F2;
    position: relative;
    margin-inline: 10vw;
    overflow: visible;
}

.show{
    opacity: 1;
    filter: blur(0);
}

.big-header { /*mga header sa sections*/
    background-image: linear-gradient(
    225deg,
    #DDE6ED 1%,  
    #fefefe 30%,
    #fefefe 60%,
    #DDE6ED 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: textclip 5s ease infinite;
  display: inline-block;
 
      font-size: 2rem;
      cursor: default;
      font-family: 'Unbounded';
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.section-contents .paragraph-contents{
    cursor: default;
    margin-block-end: 1rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Jost';
}

/*CARDS*/
.card-list {
    display: flex;
    padding: 10px 1vw;
    margin-block: 2rem;
    overflow-x: scroll;
    cursor: default;
}

.card-list::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}


.card-list::-webkit-scrollbar-thumb {
    background: #fefefe;
    border-radius: 0px;
}

.card {
    height: 200px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 4px; 
    background: linear-gradient(-45deg, #e67e15, #ff6d1e, #e67e15, #ff0149, #ef44b8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

}
.card:hover{
    background: linear-gradient(-45deg, #6f0bd8, #cc9ced, #03cbbb);
	background-size: 400% 400%;
	animation: gradient 4s ease infinite;
}

.card-section1{
    overflow: hidden;
    margin-block: .7rem;
    min-width: max-content;
    height: 5px; 
    background: radial-gradient( #e67e15, #ff6d1e, #ff0149, #ef44b8, #6f0bd8, #cc9ced, #03cbbb);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    justify-content: space-evenly;
}

.svg-element-header{
    font-size: 25px;
    font-family: 'EXOTYPE';
    position: absolute;
    padding: 2rem;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.card:not(:first-child) {
    margin-left: 13px;
}


.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-weight: 500;
    font-size: 17px;
    margin: 0 0 .5rem;
    color: #0e1011;
    font-family: 'Unbounded';
}

.card-header h2 {
    font-size: 25px;
    font-family: 'Aoboshi One', serif;
    font-weight: 100;
    margin: .20rem .20 auto;
    text-decoration: none;
    color: #0e1011;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-author {
    margin: .5rem 0 0;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    position: relative;
    font-family: 'Aoboshi One', serif;
}

.avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}
.additional-avatar {
    grid-area: auto;
    align-self: center;
    position: relative;
    box-sizing: border-box;
}

.avatar img {
    width: 50px;
    height: 50px;
    display: block;
    overflow: hidden;
    margin: 16px 0;
}

.additional-avatar img {
    width: 40px;
    height: 40px;
    display: inline;
    overflow: hidden;
    margin: 1px 1px;
}


.author-name {
    margin: .5rem;
    grid-area: auto;
    box-sizing: border-box;
}

.author-name {
    font-style: normal;
    font-weight: 100;
    color: #0e1011;
}

/*Footer*/
.spacer{   /*graphic designs*/
    position: relative;
    flex-direction : column;
    padding-inline: 10vw;
    padding-block: 10px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*
.layer1{
   background: linear-gradient(-45deg, #15152a, #0e1011);
   background-size: 400% 400%;
   animation: gradient 15s ease infinite;
}
*/

.footer {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    display: flex;
    position: relative;
}
p{
    font-size: 25px;
}
nav .footer-details{
    font-family: Josefin Sans;
    color: #ffffff;
}
.social-links .links{
    position: relative;
    text-align: center;
    display: inline;
    font-size: 27px;
    padding-inline: 10px;
    color: #ffffff;
}



